<h1>
  Welcome to the zombified son of Mwitter, Bloggter.	
</h1>

<p>
  Please entry your user handle or create a new user handle.	
</p>

<form action="/" method="post">
  <div><label for="user">User:</label>
	<input type="text"
	       name="user"
	       id="user"
	       size="15" /></div>
	<div><input type="submit" value="User"></div>
</form>